* {
    margin: 0;
    padding: 0;
}

/* common style */
.primary_btn {
    background-color: #E55473;
    border: none;
    padding: 10px 43px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
}

.banner_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.banner_info {
    width: 708px;
}

.banner_title {
    font-size: 80px;
    font-weight: 800;
    color: #272727;
}

.banner_description {
    font-size: 18px;
    font-weight: 400;
    margin: 32px 0;
    color: rgba(39, 39, 39, 0.60);
}

.banner_img {
    width: 635px;
    height: 800px;
}