* {
    margin: 0;
    padding: 0;
}

section {
    margin-top: 130px;
}

/* common style */
.primary_btn {
    background-color: #E55473;
    border: none;
    padding: 10px 43px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
}

.primary_color {
    color: #E55473;
}

/* banner styles */
.banner_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(229, 84, 115, 0.10);
}

.banner_info {
    width: 708px;
}

.banner_title {
    font-size: 80px;
    font-weight: 800;
    color: #272727;
}

.banner_description {
    font-size: 18px;
    font-weight: 400;
    margin: 32px 0;
    color: rgba(39, 39, 39, 0.60);
}

.banner_img {
    width: 635px;
    height: 800px;
}

/* Featured Flowers styles */
.featured_container {}

.section_title {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #272727;
}

.section_description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 25px 0;
}

.feature_container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 24px;
    margin-top: 48px;
}

#feature_1 {
    border-radius: 300px 300px 0 0;
    padding: 110px 75px 0 75px;
    background-color: rgba(167, 33, 98, 0.15);
}

#feature_2 {
    border-radius: 300px 300px 0 0;
    padding: 67px 75px 0 75px;
    background: rgba(5, 151, 160, 0.15);
}

#feature_3 {
    border-radius: 300px 300px 0 0;
    padding: 110px 75px 0 75px;
    background: rgba(71, 125, 17, 0.15);
}


.feature_name {
    margin-top: 32px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.feature_name>a {
    color: #272727;
}

/* support styles */
.support_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    width: 1440px;
    padding: 87px 0;
    margin: 130px auto;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
}

.support_item>img {
    display: block;
    width: 88px;
    height: 88px;
    margin: 0 auto;
}

.support_item>p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 24px;
}

/* Hot deal styles */
.hot_deal_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 0;
}

.hot_info {
    text-align: center;
    margin: auto;
}

.hot_img {
    margin: 0 auto;
}

.instagram_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    text-align: center;
}

.latest_deal_container {
    background-image: url("../images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: contain;
}